<%inherit file="base.html" />
<%namespace name='static' file='static_content.html'/>

<!-- TODO decode course # from context_course into title -->
<%block name="title">Create A Problem Test</%block>


##<%block name="jsextra">
  ## <script type="text/javascript" src="${static.url('js/template_loader.js')}"></script>
  ## <script type="text/javascript" src="${static.url('js/models/course_info.js')}"></script>
  ## <script type="text/javascript" src="${static.url('js/models/module_info.js')}"></script>
  ## <script type="text/javascript" src="${static.url('js/views/course_info_edit.js')}"></script>
  ## <link rel="stylesheet" type="text/css" href="${static.url('js/vendor/timepicker/jquery.timepicker.css')}" />
  ## <script src="${static.url('js/vendor/timepicker/jquery.timepicker.js')}"></script>
  ## <script src="${static.url('js/vendor/timepicker/datepair.js')}"></script>
  ## <script src="${static.url('js/vendor/date.js')}"></script>

  ## my additions
  ##<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
  ##<script src="http://malsup.github.com/jquery.form.js"></script> 

##</%block>

<%block name='content'>

<form id="create_test" action="/save_test/" method="post">
  <input type="hidden" name="csrfmiddlewaretoken" value=${csrf} >
  ${problem_html}
  <br/>
  This Should be marked as:
  Correct: <input type="radio" name="should_be" value="Correct" checked="True">
  Incorrect: <input type="radio" name="should_be" value="Incorrect"><br>
  <input type="submit" value="save">
  <a type="submit">Hello</a>
</form>
</%block>
